<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="head">
    <meta charset="UTF-8">
    <title>Game Over Title</title>
</head>
<body>
    <div align="center">
        <h1 id="game-title">Guess the Number Game</h1>
        <h2 id="game-over-message">Game Over</h2>
        <h3 id="result-message">
            result message content
        </h3>
        <h3>
            <a id="restart">
                Play Again
            </a>
        </h3>
        <h3>
            <a id="home">
                Home
            </a>
        </h3>
        <footer id="footer">
            <p>Footer</p>
        </footer>
    </div>
</body>
</html>